@media (max-width: 500px) {
    h1{
        color: red;
    }
}

.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.logo h1 a{
    text-decoration: none;
    color: navy;
    font-family: Arial, Helvetica, sans-serif;
}

.nav ul li a{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;
}



.nav ul li{
    display: inline-block;
}
.btn button{
    background-color: red;
    color: white;
    border: none;
    padding: 10px 30px 10px 30px;
    border-radius: 10px; 
    transition: 0.5s; 
}

.btn button:hover{
    background-color: black;
    cursor: pointer;
}
.btn{
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    border: none;
    border-radius: 10px;
}
.about-us h3{
    color: navy;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}
.about-us img{
    width: 300px;
    height: 300px;
}
*{
    margin: 0;
    padding: 0;
}

.form-main{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    background-color: rgb(10, 26, 17);
    border-radius: 10px;
}
.form{
    width: 500px;
    color: white;
    border: 1px solid rgba(255,255,255,.2);
    padding: 30px;
    border-radius: 10px;
    
}
.form h4{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.input-btn{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0px;
}
.input-btn input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    border-radius: 30px;
    border: 1px solid #b49b9b75;

}

.input-btn input::placeholder{
    color: white;
    padding: 20px;
    font-family: monospace;
}
.input-btn input::-webkit-input-placeholder{
    color: orange;
}
.input-btn i{
    position: absolute;
    right: 20px;
    bottom: 40%;
}
.form .remeber-forgot{
    display: flex;
    justify-content: space-around
}

.remeber-forgot label input{
    accent-color: green;
}
.remeber-forgot a{
    text-decoration: none;
    color: brown;
}
.remeber-forgot a:hover{
    text-decoration: underline;
    font-weight: bold;
}
.form .form-btn button{
    width: 100%;
    height: 40px;
    margin-top: 40px;
    border-radius: 10px;
    border: none;
    color: skyblue;
    font-weight: bold;
    cursor: pointer;
}
 
.form .register{
    text-align: center;
    margin-top: 20px;
    
}
.register a{
    color: white;
    text-decoration: none;

}
.register a:hover{
    font-weight: bold;
    color: orange;
}
.img_box img{
    width: 200px;
}
.card_box{
    border-radius: 10px;
     background-color: black;
    padding: 30px;
    text-align: center;
    color: white;
    transition: 3s;
    overflow: hidden;
}

.read_btn button{
    padding: 15px 40px;
    border: none;
    outline: none;
    position: relative;
    z-index: 0;
    border-radius: 12px;
}
.read_btn button::after{
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    left: 0;
    top: 0;
    border-radius: 10px;
}
.read_btn button::after {
    content: "";
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    transition: opacity ;
}
